@media #{$small-and-down} {
    nav .brand-logo img {
        height: 50px;
    }
    #ctaCredor {
        .right-align {
            text-align: center;
        }
        border-top-right-radius: 60px;
    }
    #ctaDevedor {
        text-align: center;
        border-top-left-radius: 60px;
        margin-top: -60px
    }
    figure.img-confianca {
        img {
            border-top-right-radius: 0;
            border-bottom-left-radius: 50px;
            border-bottom-right-radius: 50px;
        }
    }
    .popularBlog .card-title h3 {
        font-size: 1.2rem;
    }
    footer {
        #menu-rodape {
            display: inline;
        }
        address {
            margin-top: 10px;
        }
        .right-align a {
            display: block;
        }
    }
}

@media #{$medium-and-down} {
    .bg-home {
        height: 100%;
    }
    .btn-login {
        width: auto;
    }
    figure.effect-sarah h2::after {
        -webkit-transform: translate3d(0, 0, 0) !important;
        transform: translate3d(0, 0, 0) !important;
    }
    figure.effect-sarah h2,
    figure.effect-sarah p,
    figure.effect-sarah button {
        opacity: 1 !important;
        -webkit-transform: translate3d(0, 0, 0) !important;
        transform: translate3d(0, 0, 0) !important;
    }
    figure.effect-sarah .name {
        opacity: 0 !important;
    }
    figure.effect-sarah img {
        opacity: 0.5 !important;
        -webkit-transform: translate3d(0, 0, 0) !important;
        transform: translate3d(0, 0, 0) !important;
    }
    .grid figure figcaption {
        padding: 1rem !important;
    }
    figure.effect-sarah h2 {
        padding-top: 0 !important;
    }
    #footerSite {
        text-align: center;
        p {
            margin: 5px 0;
        }
        .right-align {
            text-align: center
        }
    }
}